* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.main-header {
  width: 100%;
  display: inline-block;
  padding: 15px 159px;
  padding-right: 170px;
}
.wrapper {
  display: inline-block;
  vertical-align: middle;
}
.main-nav {
  text-align: right;
  width: calc(100% - 252px);
}
.main-nav__items {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-nav__item {
  display: inline-block;
}
.main-nav__item > a {
  color: black;
  font-size: 15.5px;
  text-decoration: none;
  font-weight: bold;
  padding: 0px 16px;
}
.first-section-div {
  height: 1031.14px;
  background-image: linear-gradient(
      to right,
      rgb(7 90 174 / 90%),
      rgb(0 123 247 / 0%)
    ),
    url(photos/hero-free-img.jpg);
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.text-container {
  position: relative;

  width: 633.7px;
  height: 531.14px;
  padding: 15px;
}
.text-container-h1 {
  font-size: 3.75rem;
  line-height: 1.24;
  font-weight: 1000;
  padding-bottom: 15px;
  color: #f4f6f6;
  margin: 0;
}
.text-container-p {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.72;
  color: #f4f6f6;
  padding-bottom: 15px;
}
.text-container-button {
  color: #067ae0;
  background-color: #f4f6f6;
  font-size: 0.9375rem;
  font-weight: 600;
  border-radius: 0;
  padding-top: 18px;
  padding-right: 38px;
  padding-bottom: 18px;
  padding-left: 38px;
  border: 0;
  border-right: 1px solid #075aae;
  font-family: inherit;
  cursor: pointer;
}
.text-container-button__special {
  background-color: #075aae;
  color: white;
}

.second-section {
  height: 199px;
  margin: 0;
}
.second-section p {
  margin: 0;
}
